<nav id="header">
    <mat-toolbar id="nav-toolbar" color="primary" class="mat-elevation-z4">
      <span>PayMoKo</span>
      <span class="example-spacer"></span>
      <div id="nav-button-group">
        
        <a href="#" mat-icon-button class="nav-link">
          <span>Buy coins</span>
          <mat-icon class="nav-icon">monetization_on</mat-icon>
        </a>

        <a href="#" mat-icon-button class="nav-link">
            <span>Wallet</span>
            <mat-icon class="nav-icon">account_balance_wallet</mat-icon>
        </a>

      </div>

    </mat-toolbar>
</nav>
